body, html {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Esto puede ayudar a que el fondo se mantenga fijo al hacer scroll */
    height: 100%;
    min-height: 100%;
    padding: 0;
}


